h1 {
    padding: 7PX;
    background: 7PX;
    margin: 5PX;
    color: #020080;
    text-align: center;
    font-size: 30px;
    font-family: "ARIAL";
    }
    P{
    font-family: "ARIAL";
    color: #d35555;
    }
    
    body{
        background-color:  #DBF9FC;
    }